.background {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#quote-box {
  width: 500px;
  margin: 0 auto;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  text-align: left;
  background-color: white;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.618);
}

.quote-content {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
}

#author {
text-align: right;
}

#tweet-quote {
  background-color: #1DA1F2;
  margin-right: 10px;
}

button, a {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  width: fit-content;
  font-weight: 500;
  background: #1a1a1a;
  color: white;
  cursor: pointer;
  font-size: 1em;
  justify-content: space-around;
}

.by-faruq {
  text-align: center;
  margin-top: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between; /* Menjadikan tombol berada di ujung kanan */
  width: 100%; /* Menyebarkan elemen secara penuh di dalam .quote-content */
}

.social-icons {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

#tweet-quote,
#tumblr-quote {
  margin-right: 10px; /* Memberi jarak antara ikon Twitter dan WhatsApp */
}